Repository tcly861204/vue3-element-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js, stylelint --syntax scss, stylelint --fix, stylelint --syntax css, eslint --ext .vue

.lintstagedrc:

{
  "src/**/*.js": [
    "eslint --ext .js"
  ],
  "src/**/*.scss": [
    "stylelint --syntax scss",
    "stylelint --fix"
  ],
  "src/**/*.css": [
    "stylelint --syntax css",
    "stylelint --fix"
  ],
  "src/**/*.vue": [
    "eslint --ext .vue",
    "stylelint --fix"
  ]
}

feat: vue3 element admin dcc69386394772318dc7f98860d5ed7e26403b53
  report.html
  static/css/app.css
  static/css/chunk-2be21288.css
  static/css/chunk-vendors.css
  static/js/app.js
  static/js/chunk-2be21288.js
  static/js/chunk-2d0f1194.js
  static/js/chunk-vendors.js
Due: none

feat: 完善操作图标
  public/index.html
  src/components/common/icon/index.vue
  src/components/common/index.js
  src/layout/header.vue
  src/layout/menu.vue
  src/layout/style.scss
  src/main.js
Due: eslint --ext .js, stylelint --syntax scss, stylelint --fix, eslint --ext .vue

feat: vue3 element admin 42092d32fbe4eb17e7baf320161091a3e8da4b02
  index.html
  report.html
  static/css/app.css
  static/css/chunk-2be21288.css
  static/css/chunk-vendors.css
  static/js/app.js
  static/js/app.js.gz
  static/js/chunk-2be21288.js
  static/js/chunk-2d0f1194.js
  static/js/chunk-vendors.js
  static/js/chunk-vendors.js.gz
Due: none

feat: 完善操作图标
  src/layout/header.vue
Due: stylelint --fix, eslint --ext .vue

feat: 完善操作图标
  commitlint.config.js
Due: none

fix: 修复bug
  commitlint.config.js
  src/layout/header.vue
  src/layout/style.scss
  src/styles/index.scss
  src/styles/variable.scss
Due: stylelint --syntax scss, stylelint --fix, eslint --ext .vue

feat: vue3 element admin 638181c655556f68e874cd21a12a942624a8e33f
  report.html
  static/css/app.css
  static/css/chunk-2be21288.css
  static/css/chunk-vendors.css
  static/js/app.js
  static/js/app.js.gz
  static/js/chunk-2be21288.js
  static/js/chunk-2d0f1194.js
  static/js/chunk-vendors.js
Due: none

fix: 修复样式
  commitlint.config.js
  src/layout/header.vue
  src/layout/style.scss
Due: stylelint --syntax scss, stylelint --fix, eslint --ext .vue

feat: vue3 element admin 92914369e045697b48d83353212e58ce7627c11d
  report.html
  static/css/app.css
  static/css/chunk-2be21288.css
  static/css/chunk-vendors.css
  static/js/app.js
  static/js/app.js.gz
  static/js/chunk-2be21288.js
  static/js/chunk-2d0f1194.js
  static/js/chunk-vendors.js
Due: none
